@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --desaturated-red: hsl(0, 36%, 70%);
    --soft-red: hsl(0, 93%, 68%);
    --dark-grayish-red: hsl(0, 6%, 24%);

}

body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    color: var(--desaturated-red);
    overflow: none;
}

header {
    height: 10.5vh;
    position: relative;
}

.main-container {
    margin-top: 40.5vh;
}

/*----------------
------IMAGES------
----------------*/

.logo {
    display: inline-block;
    height: 1.35rem;
    position: absolute;
    top: 50%;
    transform: translate(30%, -50%);
}

.background {
    background-image: url('./images/hero-mobile.jpg');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 31vh;
    width: 100%;
    margin-right: -4px;
    position: absolute;
    top: 10.5vh;
}

/*----------------
----TYPOGRAPHY----
----------------*/

.title {
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-top: 8vh;
    margin-bottom: 2.5vh;
    letter-spacing: 0.25em;
}

.title span {
    display: block;
    font-weight: 600;
    color: var(--dark-grayish-red);
}

p {
    text-align: center;
    margin: auto;
    width: 90%;
    line-height: 1.4;
}

input:focus {
    outline: none;
}

/*----------------
-------FORM-------
----------------*/

form {
    display: block;
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

form input {
    display: block;
    width: 100%;
    margin: auto;
    margin-top: 4vh;
    padding: 1.2em 2em;
    border: 1px solid var(--desaturated-red);
    border-radius: 25px;
}

form input::placeholder {
    color: var(--desaturated-red);
}

.button {
    background: linear-gradient(135deg, hsl(0, 80%, 86%),hsl(0, 74%, 74%));
    position: absolute;
    width: 23%;
    height: 3.9em;
    right: 0;
    top: 0;
    border-radius: 25px;
    border: 0;
    cursor: pointer;
    box-shadow: 0 10px 15px hsl(0, 80%, 86%);
}

.button:hover,
.button:focus {
    background: linear-gradient(135deg, hsl(0, 82%, 91%),hsl(0, 80%, 86%));
}

.error {
    text-align: left;
    position: absolute;
    color: var(--soft-red);
    left: 4vw;
    top: 8vh;
}

.error-icon {
    position: absolute;
    background: var(--soft-red);
    border-radius: 100%;
    right: 20vw;
    display: none;
}

/*----------------
-----DEKSTOP------
----------------*/

@media (min-width: 1024px) {

    body {
        width: 99.75vw;
    }

    .logo {
        transform: translate(0, -50%);
        height: 2rem;
    }

    .left {
        width: 60%;
        float: left;
        background-image: url('./images/bg-pattern-desktop.svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
    }

    .container {
        width: 65%;
        height: 90%;
        margin-top: 7%;
        margin-left: 20%;
    }

    .main-container {
        margin-top: 0;
    }

    .background {
        background-image: url('./images/hero-desktop.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
        width: 40%;
        float: right;
        position: static; 
        top: 0;
    }

    .title {
        text-align: left;
        margin-bottom: 5vh;
        font-size: 3.5em;
    }

    p {
        text-align: left;
        margin-left: 0;
        margin-bottom: 5vh;
    }

    form {
        margin-left: 0;
        width: 90%;
    }

    .button {
        width: 18%;
    }

    .error {
        left: 1.4vw;
    }

    .error-icon {
        right: 7vw;
    }
}